body {
	background: #333;
	color: #fff;
	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Roboto Condensed', sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
}
img {
    max-width: 100%;
  }
/* h1{
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.5;
	color:inherit;
} */

/*<-------------------NAVIGATION BAR--------------------->*/
.navbar {
	border-bottom: #008ed6 3px solid;
	opacity: 0.8;
 }

/*<-------------------HOME SECTION--------------------->*/

 #home-section {
 	background: url('../img/robo.JPG') no-repeat center center fixed;

 	background-size: cover;

 	min-height: 700px;
 }

 #home-section .dark-overlay {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	min-height: 700px;
 	background: rgba(0,0,0,0.7);
 }

 #home-section .home-inner {
 	padding: 150px;
 }

 .btn-xl
{
	padding: 1rem 2rem;
}

.btn{
	font-weight: 700;
	font-color:white;
	font-size: 1.5rem;
}

/*<-------------------ABOUT US--------------------->*/

.ft{

	font-color:white;
	font-size: 2rem;
	font-weight: 300;

}

.lead
{
	font-weight: 500;
	font-size: 1.5rem;
	color: white;
}

.sec {
	background: #333333;

	min-height: 700px;
	/*width: 90%;
	margin:auto;*/
}
hr
{
	border-color: white;
	border-width: 3px;
	max-width: 90%;
}

.border-3 {
    border-width:2px !important;
}

.video_width
{
	width: 80%;
}
@media screen and (max-width:600px)
{
	.video_width:100%
}
.margin_top{
	margin-top: 5rem;
}

.inner_text{
	margin-top: 4rem;
}

.space {
	margin-top: 1.25rem;
}
/*<---------------------Projects---------------->*/

#projects{

	background: url('../img/back.JPG') no-repeat center center fixed ;
  background-size: cover;
  height:700px;

}
@media screen and (max-width:600px)
{
	#projects
	{
		height:600px;
	}
	.bg-text{
		top:150px;

	}
	.imge{

		min-width: 320px;
		min-height: 250px;
	}
}
#mg-project{
	color:white;
	opacity:0.9;
	font-weight: bold;
	margin-top: 1rem;
	padding-top:0;
	/* font-family:sans-serif; */
	font-size:min(7vw,40px);
}
#c-project{
	color:white;
	opacity:1;
	font-size:min(4vw,20px);

}

.bg-text {
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
	color: white;
  position: relative;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
	min-width:320px;
  text-align: center;
	margin-top: 0px;
	min-height: 400px;
	padding:1rem;
  padding-bottom:2rem;
}
.carousel{
 margin:auto;
 width:100%;
}
.wrapper{

	max-width:800px;
  width:100%;


}
.new{
	background-color: white;
}
.caption-one{

	position:relative;
	float:left;
	background-color: rgba(0,0,0, 0.7);
	border:1px solid #000000;
	margin:0;
	padding:0;

}
.rstxt{
	color:white;
	font-family:inherit;
	position:relative;
	text-align:left;
	font-size:min(3.5vw,15px);
	padding:3px;
	vertical-align:inherit;

}

}
.carousel-caption{
	text-align:left;
	width:550px;

}

.container{
	padding-right: 15px;
	padding-left: 15px;
	overflow: hidden;
}

.imge{

	min-width: 250px;
	min-height: 200px;
	max-width: 1000px;
	max-height: 650px;
}

/*Fixed background*/
#fixed {
	background: url('robo.JPG');
	min-height: 500px;

}

.parallax {
	background: url('../img/intro3.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
	opacity: .9;
}

.parallax hr {
  border-top: 2px solid white;
  width: 80%;
  margin-bottom: 1rem;
}

.padding {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.half {
	position: relative;
	top: 30%;

}
#workshop_text{
	backdrop-filter: blur(10px);
}
/* table  */
.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pagenumbers button {
	width: 50px;
	height: 50px;

	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;

	background-color: #44AAEE;

	margin: 5px;
	transition: 0.4s;

	color: #FFF;
	font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
	background-color: #44EEAA;
}

.pagenumbers button.active {
	background-color: #44EEAA;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.halka-white{
	background: #ffffff;

}

}

@media screen and (max-width:600px)
{
	table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
}

/* Animation */
.icon {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-17 22:55:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
	0% {
	  -webkit-transform: translateY(1000px);
			  transform: translateY(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-bottom {
	0% {
	  -webkit-transform: translateY(1000px);
			  transform: translateY(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  

} 


/*<---------------Some MOMENTS------------>*/
#moments{
  background-size: auto;
  height:400px;
}

#moments-head{
	color:white;
	opacity:0.7;
	margin: 1.5rem;
	font-family: sans-serif ;
	font-size:min(4vw,65px);
}

.m-caption{
  position:relative;
	float:left;
	background-color: rgba(0,0,0, 0.5);
}

