body {
	background: #333;
	color: #fff;

}

h1{
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.5;
	color:inherit;
}

/*<-------------------NAVIGATION BAR--------------------->*/
.navbar {
	border-bottom: #008ed6 3px solid;
	opacity: 0.8;
 }

/*<-------------------HOME SECTION--------------------->*/

 #home-section {
 	background: url('../img/robo.JPG') no-repeat center center fixed;
 	
 	background-size: cover;
 	
 	min-height: 700px;
 }

 #home-section .dark-overlay {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	min-height: 700px;
 	background: rgba(0,0,0,0.7);
 }

 #home-section .home-inner {
 	padding: 150px;
 }

 .btn-xl
{
	padding: 1rem 2rem;
}

.btn{
	font-weight: 700;
	font-color:white;
	font-size: 1.5rem;
}

/*<-------------------ABOUT US--------------------->*/

.ft{
	
	font-color:white;
	font-size: 2rem;
	font-weight: 300;
	font-family: inherit;
}

.lead
{
	font-weight: 300;
	font-size: 1.5rem;
	color: white;
	font-family: 'Lato', sans-serif;
}

.sec {
	background: #333333;
	
	min-height: 700px;
	width: 90%;
	margin:auto;
}
hr
{
	border-color: white;
	border-width: 3px;
	max-width: 290px;
}

.border-3 {
    border-width:2px !important;
}

.video_width
{
	width: 80%;
}

.margin_video{
	margin-top: 5rem;
}

.inner_text{
	margin-top: 4rem;
}

.space {
	margin-top: 1.25rem;
}
